@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

:root {
    --main-color: white;
    --black: #131313;
    --bg: #010101;
    --border: 5px solid rgba(255, 255, 255, 0.75);
}

html {
    font-size: 100%;
    overflow-x: hidden;
    scroll-padding-top: 10rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
   width: .100px;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 2px;
}

body {
    background: var(--main-color);
}

.header {
    background: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.header .logo img {
    width: 100px;
    height: 100px;
}

.header .navbar a {
   color: white;
   text-decoration: wavy;
   font-family: 'Times New Roman', Times, serif;
   font-size: 20px;
   margin: 0;
   padding: 0;
   display: inline-flex;
   float: left;
   margin-left: 30px;
   cursor: pointer;
}


.header .navbar a:hover {
    display: inline-flex;
    border-bottom: 2px solid rgb(250, 94, 37);
    padding-bottom: 5px;
}

.header .icons div {
    color:white;
    cursor: pointer;
    font-size: 20px;
    float: left;
    margin-left: 15px;
}

.header .icons div:hover {
    color: rgb(248, 95, 40);
   border-bottom: 2px solid rgb(250, 94, 37);
   padding-bottom: 5px;   
}

.header .search-form {
    position: absolute;
    top: 80px;
    right: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;

}

.header .search-form input {
    width: 100%;
    height: 100%;
    font-size: 15px;
    color: black;
    padding: 5px;
    text-transform: none;
}

.header .search-form label {
    cursor: pointer;
    font-size: 15px;
    color: black;
}

.header .search-form label:hover {
    color: black;
}

.mb-4 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bolder;
}

.card img {
   display: inline-flex;
   transition: all 0.2s ease;
}

.card img:hover {
    display: inline-flex;
    transform:translateY(-10px);
}

.card-body {
    display: inline-flex;
    position: absolute;
    top: 82%;
    background-color: rgba(255, 255, 255, 0.75);
    width: 100%;
    height: 100px;
}

.card-body h5 {
    display: inline-flex;
    font-size: 25px;
    font-weight: bold;
}

.card-body i {
    display: inline-flex;
    background-color: white;
    color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    left: 60%;
    bottom: 10px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items: center;
}   

.bg-danger-subtle {
    position: relative;
    top: 50px;
    height: 500px;
}

.mb-auto {
    position: relative;
    right: 40%;
}

#countdown {
    display: inline-flex;
    background-color: red;
    width: 100px;
    height: 40px;
    position: absolute;
    left: 23%;
    bottom: 91%;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
}

.product {
    display: flex;
    justify-content: space-around;
    max-width: 1100px;
    margin: 20px auto;
}

.product-items {
    background-color: white;
    padding: 15px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    float: left;
    margin-left: 20px;
}

.product-items img {
    width: 170px;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 200px;
    display: flex;
   transition: all 0.3 ease;
   cursor: pointer;
}

.product-items img:hover {
    display: flex;
    transform: translateY(-8px);
}

.product-items h2 {
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.product-items p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: red;
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.product-items small {
   display: flex;
   text-decoration: line-through;
   color: black;
   text-align: center;
   justify-content: center;
   align-items: center;
   position: relative;
   bottom: 20px;
}

.product-items i {
    font-size: 20px;
    font-weight: bold;
    float: left;
    margin-left: 10px;
    align-items: center;
    justify-self: center;
    text-align: center;
    position: relative;
    left: 30px;
}

.product-watch {
    background-color: white;
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 90%;
}

.product-watch a {
    text-decoration: wavy;
    color: black;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.col-md-8 {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin: 20px auto;
    position: relative;
    right: 160px;
}

.products-card {
    background-color: white;
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    float: left;
    margin-left: 20px;
    text-align: center;
    position: relative;
    top: 20px;
}

.products-card img {
    width: 150px;
    height: 150px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.products-card img:hover {
    transform: translateY(-8px);
}

.products-card h3 {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.products-card p {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: red;
    font-weight: bolder;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.products-card i {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    float: left;
    margin-left: 10px;
    position: relative;
    left: 30px;
}

footer {
    display: flex;
    background-color: black;
    width: 100%;
    height: 80px;
}

.list-item a {
    display: inline-block;
    text-decoration: wavy;
    color: white;
    float: left;
    margin-left: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: lighter;
    position:relative;
    bottom: 25px;
}

.footer-icon i {
    display: inline-block;
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    float: left;
    margin-left: 20px;
    left: 200%;
}

.form {
    display: inline-flex;
    grid-template-columns: 1fr;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
    margin-left: 600px;
}

.form-group {
    display: inline-flex;
    flex-direction: column;
}

textarea {
    width: 200px;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid  #ccc;
    border-radius: 5px;
}

.sub-btn {
    width: 100px;
    height: 30px;
    padding: 5px 5px;
    background-color: #2bf73c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sub-btn:hover {
    background-color: #03940f;
}
